* -text

#
# The above will handle all files NOT found below
#
*.css           text
*.html          text
*.java          text
*.js            text
*.json          text
*.properties    text
*.txt           text
*.xml           text
*.yaml          text
*.yml           text
*.ini           text
*.cfg           text
.gitignore      text
.gitattributes  text


# These files are binary and should be left untouched
*.class         binary
*.jar           binary
*.gif           binary
*.jpg           binary
*.png           binary
*.dot           binary