<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
/*
 * org.riverock.portlet - Portlet Library
 * 
 * Copyright (C) 2004, Riverock Software, All Rights Reserved.
 * 
 * Riverock - The Open-source Java Development Community
 * http://www.riverock.org
 * 
 * 
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
 */
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
   <listener>
      <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
   </listener>
    <servlet>
        <servlet-name>WebMill engine startup servlet</servlet-name>
        <servlet-class>org.riverock.generic.startup.StartupServlet</servlet-class>
		<init-param>
			<param-name>is-local-config</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>log-path</param-name>
			<param-value>log4j</param-value>
		</init-param>
		<init-param>
			<param-name>log-config-file</param-name>
			<param-value>config\log4j.properties</param-value>
		</init-param>
		<init-param>
			<param-name>generic-config-file</param-name>
			<param-value>config\config-generic.xml</param-value>
		</init-param>
		<init-param>
			<param-name>cache-config-file</param-name>
			<param-value>config\config-cache.xml</param-value>
		</init-param>
		<init-param>
			<param-name>sso-config-file</param-name>
			<param-value>config\config-sso.xml</param-value>
		</init-param>
<!--
		<init-param>
			<param-name>webmill-config-file</param-name>
			<param-value>config\config-webmill.xml</param-value>
		</init-param>
-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Webmill servlet for register portlet application archive</description>
        <display-name>Webmill portlet register</display-name>
        <servlet-name>WebmillPortletRegister</servlet-name>
        <servlet-class>org.riverock.webmill.container.portlet.register.PortletRegisterServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>MemberViewServlet</servlet-name>
		<servlet-class>org.riverock.portlet.member.MemberViewServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.UploadPrice</servlet-name>
		<servlet-class>org.riverock.portlet.shop.upload.UploadPrice</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FirmIndex</servlet-name>
		<servlet-class>org.riverock.portlet.firm.FirmIndex</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FirmAdd</servlet-name>
		<servlet-class>org.riverock.portlet.firm.FirmAdd</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FirmChange</servlet-name>
		<servlet-class>org.riverock.portlet.firm.FirmChange</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FirmDelete</servlet-name>
		<servlet-class>org.riverock.portlet.firm.FirmDelete</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.ImageSelectFile</servlet-name>
		<servlet-class>org.riverock.portlet.image.ImageSelectFile</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.ImageSelectUrl</servlet-name>
		<servlet-class>org.riverock.portlet.image.ImageSelectUrl</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.ImageDescription</servlet-name>
		<servlet-class>org.riverock.portlet.image.ImageDescription</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.ImageIndex</servlet-name>
		<servlet-class>org.riverock.portlet.image.ImageIndex</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.ImageList</servlet-name>
		<servlet-class>org.riverock.portlet.image.ImageList</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<!-- !!! -->
	<servlet>
		<servlet-name>Mill.PriceEditIndex</servlet-name>
		<servlet-class>org.riverock.portlet.shop.edit.PriceEditIndex</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.PriceEditDescription</servlet-name>
		<servlet-class>org.riverock.portlet.shop.edit.PriceEditDescription</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.PriceEditShop</servlet-name>
		<servlet-class>org.riverock.portlet.shop.edit.PriceEditShop</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.PriceEditImage</servlet-name>
		<servlet-class>org.riverock.portlet.shop.edit.PriceEditIndex</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	<!-- !!! -->
	<servlet>
		<servlet-name>Mill.AuthRightIndex</servlet-name>
		<servlet-class>org.riverock.portlet.auth.RightIndex</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthRightDelete</servlet-name>
		<servlet-class>org.riverock.portlet.auth.RightDelete</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthRightChange</servlet-name>
		<servlet-class>org.riverock.portlet.auth.RightChange</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthRightAdd</servlet-name>
		<servlet-class>org.riverock.portlet.auth.RightAdd</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthBindIndex</servlet-name>
		<servlet-class>org.riverock.portlet.auth.BindIndex</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthBindDelete</servlet-name>
		<servlet-class>org.riverock.portlet.auth.BindDelete</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthBindChange</servlet-name>
		<servlet-class>org.riverock.portlet.auth.BindChange</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mill.AuthBindAdd</servlet-name>
		<servlet-class>org.riverock.portlet.auth.BindAdd</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>MemberViewServlet</servlet-name>
		<url-pattern>/member_view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.UploadPrice</servlet-name>
		<url-pattern>/mill.upload_price</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirmIndex</servlet-name>
		<url-pattern>/firm_index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirmAdd</servlet-name>
		<url-pattern>/firm_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirmChange</servlet-name>
		<url-pattern>/firm_ch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirmDelete</servlet-name>
		<url-pattern>/firm_del</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.ImageSelectFile</servlet-name>
		<url-pattern>/mill.image_select_file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.ImageSelectUrl</servlet-name>
		<url-pattern>/mill.image_select_url</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.ImageDescription</servlet-name>
		<url-pattern>/mill.image_description</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.ImageIndex</servlet-name>
		<url-pattern>/mill.image_index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.ImageList</servlet-name>
		<url-pattern>/mill.image_list</url-pattern>
	</servlet-mapping>
	<!-- !!! -->
	<servlet-mapping>
		<servlet-name>Mill.PriceEditIndex</servlet-name>
		<url-pattern>/mill.price_edit_index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.PriceEditDescription</servlet-name>
		<url-pattern>/mill.price_edit_description</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.PriceEditShop</servlet-name>
		<url-pattern>/mill.price_edit_shop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.PriceEditImage</servlet-name>
		<url-pattern>/mill.price_edit_image</url-pattern>
	</servlet-mapping>
	<!-- !!! -->
	<servlet-mapping>
		<servlet-name>Mill.AuthRightIndex</servlet-name>
		<url-pattern>/mill.auth_right_index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthRightDelete</servlet-name>
		<url-pattern>/mill.auth_right_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthRightChange</servlet-name>
		<url-pattern>/mill.auth_right_change</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthRightAdd</servlet-name>
		<url-pattern>/mill.auth_right_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthBindIndex</servlet-name>
		<url-pattern>/mill.auth_bind_index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthBindDelete</servlet-name>
		<url-pattern>/mill.auth_bind_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthBindChange</servlet-name>
		<url-pattern>/mill.auth_bind_change</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mill.AuthBindAdd</servlet-name>
		<url-pattern>/mill.auth_bind_add</url-pattern>
	</servlet-mapping>
	<!-- Set the default session timeout (in minutes) -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<!-- Establish the default MIME type mappings -->
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpe</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>java</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>body</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rtx</extension>
		<mime-type>text/richtext</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tsv</extension>
		<mime-type>text/tab-separated-values</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>etx</extension>
		<mime-type>text/x-setext</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ps</extension>
		<mime-type>application/x-postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>class</extension>
		<mime-type>application/java</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>csh</extension>
		<mime-type>application/x-csh</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sh</extension>
		<mime-type>application/x-sh</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tcl</extension>
		<mime-type>application/x-tcl</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tex</extension>
		<mime-type>application/x-tex</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>texinfo</extension>
		<mime-type>application/x-texinfo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>texi</extension>
		<mime-type>application/x-texinfo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>t</extension>
		<mime-type>application/x-troff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tr</extension>
		<mime-type>application/x-troff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>roff</extension>
		<mime-type>application/x-troff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>man</extension>
		<mime-type>application/x-troff-man</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>me</extension>
		<mime-type>application/x-troff-me</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ms</extension>
		<mime-type>application/x-wais-source</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>src</extension>
		<mime-type>application/x-wais-source</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>bcpio</extension>
		<mime-type>application/x-bcpio</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cpio</extension>
		<mime-type>application/x-cpio</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gtar</extension>
		<mime-type>application/x-gtar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>shar</extension>
		<mime-type>application/x-shar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sv4cpio</extension>
		<mime-type>application/x-sv4cpio</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sv4crc</extension>
		<mime-type>application/x-sv4crc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tar</extension>
		<mime-type>application/x-tar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ustar</extension>
		<mime-type>application/x-ustar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>dvi</extension>
		<mime-type>application/x-dvi</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>hdf</extension>
		<mime-type>application/x-hdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>latex</extension>
		<mime-type>application/x-latex</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>bin</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>oda</extension>
		<mime-type>application/oda</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ps</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eps</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ai</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rtf</extension>
		<mime-type>application/rtf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>nc</extension>
		<mime-type>application/x-netcdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cdf</extension>
		<mime-type>application/x-netcdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cer</extension>
		<mime-type>application/x-x509-ca-cert</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>exe</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gz</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>Z</extension>
		<mime-type>application/x-compress</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>z</extension>
		<mime-type>application/x-compress</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>hqx</extension>
		<mime-type>application/mac-binhex40</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mif</extension>
		<mime-type>application/x-mif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ief</extension>
		<mime-type>image/ief</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tiff</extension>
		<mime-type>image/tiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tif</extension>
		<mime-type>image/tiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ras</extension>
		<mime-type>image/x-cmu-raster</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pnm</extension>
		<mime-type>image/x-portable-anymap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pbm</extension>
		<mime-type>image/x-portable-bitmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pgm</extension>
		<mime-type>image/x-portable-graymap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ppm</extension>
		<mime-type>image/x-portable-pixmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rgb</extension>
		<mime-type>image/x-rgb</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xbm</extension>
		<mime-type>image/x-xbitmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xpm</extension>
		<mime-type>image/x-xpixmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xwd</extension>
		<mime-type>image/x-xwindowdump</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>au</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>snd</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aif</extension>
		<mime-type>audio/x-aiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aiff</extension>
		<mime-type>audio/x-aiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aifc</extension>
		<mime-type>audio/x-aiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wav</extension>
		<mime-type>audio/x-wav</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpeg</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpg</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpe</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>qt</extension>
		<mime-type>video/quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mov</extension>
		<mime-type>video/quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>avi</extension>
		<mime-type>video/x-msvideo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>movie</extension>
		<mime-type>video/x-sgi-movie</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>avx</extension>
		<mime-type>video/x-rad-screenplay</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wrl</extension>
		<mime-type>x-world/x-vrml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpv2</extension>
		<mime-type>video/mpeg2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<!-- Establish the default list of welcome files -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>jstl/format</taglib-uri>
            <taglib-location>/WEB-INF/tld/jstl/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/jstl/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tld/jakarta-request</taglib-uri>
            <taglib-location>/WEB-INF/tld/jakarta/taglibs-request.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tld/jakarta-session</taglib-uri>
            <taglib-location>/WEB-INF/tld/jakarta/taglibs-session.tld</taglib-location>
        </taglib>
    </jsp-config>
    
    <!-- JNDI Db resource -->
     <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/webmill</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
